<div class="container">
  <h1>Newest Stories</h1>
  <!-- Search input -->
  <input type="text" class="form-control mb-3" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search stories">
  
   <!-- Loading spinner -->
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

   <!-- Stories table -->
  <div *ngIf="!isLoading" class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let story of filteredStories | slice:(currentPage - 1) * pageSize:currentPage * pageSize; let i = index">
          <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th>
          <td>
            <a *ngIf="story.url" [href]="story.url" target="_blank">{{ story.title }}</a>
            <span *ngIf="!story.url">{{ story.title }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination controls -->
  <nav aria-label="Page navigation" *ngIf="!isLoading">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPageChange(currentPage - 1)" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page">
        <a class="page-link" (click)="onPageChange(page)" href="#">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
        <a class="page-link" (click)="onPageChange(currentPage + 1)" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
